.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.azul{
  color: blue;
  margin: 30px;
}
.vermelho{
  color: red;
  margin: 30px;
}
.amarelo{
  color: yellow;
  margin: 30px;
}
.verde{
color: green;
margin: 30px;
}

.times{
  display: flex;

}
.titulo{
  margin-top: 50px;
}
button{
  border: none;
  border-radius: 3px;
}
input,select{
  width: 10vw;
  padding: 0.5vw;
  border: 2px solid black;
  border-radius: 3px;
  margin: 1px;
}